@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f4f8;
  --foreground: #2d3748;

  --primary: #6366f1;
  --primary-foreground: #ffffff;

  --secondary: #64748b;
  --secondary-foreground: #ffffff;

  --error: #ef4444;
  --error-foreground: #ffffff;

  --success: #10b981;
  --success-foreground: #ffffff;

  --warning: #f59e0b;
  --warning-foreground: #1a202c;

  --info: #3b82f6;
  --info-foreground: #ffffff;

  --accent: #8b5cf6;
  --accent-foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c;
    --foreground: #e2e8f0;

    --primary: #818cf8;
    --primary-foreground: #1a202c;

    --secondary: #94a3b8;
    --secondary-foreground: #1a202c;

    --error: #fb7185;
    --error-foreground: #1a202c;

    --success: #34d399;
    --success-foreground: #1a202c;

    --warning: #fbbf24;
    --warning-foreground: #1a202c;

    --info: #60a5fa;
    --info-foreground: #1a202c;

    --accent: #a78bfa;
    --accent-foreground: #1a202c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
